@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background: rgba(28, 38, 82, 0.979);
    z-index: 2;
    color: snow;
}


a {
    text-decoration: none;
    color: black;
}


ul {
    list-style: none;
}

li {
    list-style: none;
}

.supporter-info{
    padding-top: 50px;
    padding: 10px;
    margin: 10px;
    margin-left: 80px;
}

.supporter-info p{
    font-size: 14px;
}

main{
    grid-area: mn;
}

main img {
    width: 500px;
    height: 400px;
}

.applybox {
    color: rgba(255, 255, 255, 0.8);
    margin: 50px;
    margin-top: -80px;
}

.applybox:hover {
    background-color: rgb(13, 29, 34);
    color: rgba(123, 255, 71, 0.849);
}

.gridwrapper-index {
    display: grid;
    height: 1560px;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 3fr 0.5fr;
    grid-template-areas: 
    "he nv nv"
    "mn mn mn"
    "fo fo fo"
    ;
}

.gridwrapper-apply {
    display: grid;
    height: 1660px;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 10vh 3fr 0.5fr;
    grid-template-areas: 
    "he nv nv"
    "mn mn mn"
    "se se se"
    "fo fo fo"
    ;
}

.gridwrapper-supporter {
    display: grid;
    height: 1800px;
    width: 100%;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 10vh 3fr 3fr 312px 1fr;
    grid-template-areas: 
    "he nv nv"
    "mn mn se"
    "mn mn se"
    "as as as"
    "fo fo fo"
    ;
}

.gridwrapper-merch {
    display: grid;
    height: 1790px;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 10vh 2fr 0.5fr;
    grid-template-areas: 
    "he nv nv"
    "at at at"
    "fo fo fo"
    ;
}

.gridwrapper-about {
    display: grid;
    height: 1300px;
    width: 100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10vh 3fr 1fr;
    grid-template-areas: 
    "he nv nv"
    "se se se"
    "fo fo fo"
    ;
}

header {
    background: #084a91;
    grid-area: he;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header a img{

    width: auto;
    height: 9vh;
}

nav {
    background: #084a91;
    grid-area: nv;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
}

section {
    grid-area: se;
}

aside {
    background: goldenrod;
    grid-area: as;

}


article { 
    background: rgba(0, 191, 255, 0.226);
    grid-area: at;
}

footer {
    background: #084a91;
    grid-area: fo;
    padding: 40px;
    display: flex;
    flex-flow: row wrap;
}

footer > *{
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left > *{
    color: #999;
}

.footer-left img{
    height: 200px; 
    width: 200px;
}

.footer-left p{
    padding: 10%;
    padding-left: 0;
}

.footer-left .fa{
    width: 84px;
    height: 84px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    padding: 8px;
}

#section-split{
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "cp cs"
    ;
}

.content-primary img{
    width: 400px;
    height: 300px;
}

.content-primary-about{
    margin: 30px;
    margin-right: 100px;
    grid-area: cp;
}

.content-primary-about > p{
    margin-top: 12px;
}



.content-secondary-about{
    margin: 30px;
    grid-area: cs;
}

.content-secondary-about img {
    margin: 30px 1em;
    padding-left: -1em;
    width: 500px;
    height: 281px;
}

.content-secondary-about > p{
    margin-top: 12px;
}

.content-secondary{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    background: rgb(45, 99, 199);
    right: 720px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
}

.content-secondary img{
    width: 220px;
    height: 220px;
}


.box a {
    color: #999;
}

footer li{
    line-height: 2em;
}

.socials a{
    display: inline-block;
    margin-right: 10px;
}

.at-wrapper{
    display: grid;
    margin: 50px 100px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "m1 m2 m3"
    "m4 m5 m6"
    ;
    
}

.merch-product img{
    width: 200px;
    height: 200px;
}

.merch-product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.mp1{
    grid-area: m1;
}

.mp2{
    grid-area: m2;
}

.mp3{
    grid-area: m3;
}

.mp4{
    grid-area: m4;
}

.mp5{
    grid-area: m5;
}

.mp6{
    grid-area: m6;
}

.footer-links a{
    color: #101001;
}

.footer-right li h2{
    font-weight: 525;
    padding-left: 0;
}

.footer-bottom{
    text-align: center;
    color: white;
    padding-bottom: 0;
}

.underline{
    text-decoration: underline;
}



footer ul{
    padding-left: 0;
}

.footer-right{
    flex: 1 0;
    flex: row wrap;
}

.footer-right > *{
    flex: 2 0px;
}

.footer-left{
    flex: 1 0px;
}








@media screen and (max-width: 768px) {


/* Fyll i mobilspecifik design här */

    .footer-right{
        flex: 1 0;
    }

    .footer-left{
        flex: 1 0px;
    }

    .footer-right > *{
        flex: 2 0px;
    }

    .supporter-info{
        margin-left: 20px;
    }

    .gridwrapper-supporter {
        display: grid;
        height: 1750px;
        width: 100%;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 10vh 3fr 3fr 1fr;
        grid-template-areas: 
        "he nv"
        "mn mn"
        "se se"
        "as as"
        "fo fo"
        ;
    }

    .gridwrapper-merch {
        display: grid;
        height: 1780px;
        width: 100%;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 10vh 3fr 0.5fr;
        grid-template-areas: 
        "he nv"
        "at at"
        "fo fo"
        ;
    }

    .gridwrapper-index {
        display: grid;
        height: 1780px;
        width: 100%;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 10vh 3fr 0.5fr;
        grid-template-areas: 
        "he nv"
        "mn mn"
        "fo fo"
        ;
    }

    .gridwrapper-apply {
        display: grid;
        height: 1660px;
        width: 100%;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 10vh 900px 250px 2fr;
        grid-template-areas: 
        "he nv"
        "mn mn"
        "se se"
        "fo fo"
        ;
    }

    .gridwrapper-apply main > img {

        width: 192px;
        height: 192px;

    }
    

    .livestatus{
        width: 128px;
        height: 64px;
    }

    .gridwrapper-about {
        display: grid;
        height: 1300px;
        width: 100%;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 10vh 3fr 1fr;
        grid-template-areas: 
        "he nv"
        "se se"
        "fo fo"
        ;
    }

    .div-splitter{
        display: flex;
        flex-direction: column;
        border-style: solid;
        width: 212px;
        height: 500px;
        grid-template-columns: 106px;
        grid-template-rows: 212px 1fr 1fr 1fr;
        grid-template-areas: 
        "lv"
        "g1"
        "g2"
        "g3"
        ;
    }

    .games{
        display: block;
    }

    #section-split{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5 3fr;
        grid-template-areas: 
        "cp"
        "cs"
        ;
    }
    
    

    
    .at-wrapper{
        display: grid;
        margin: 12px 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "m1 m2"
        "m3 m4"
        "m5 m6"
        ;
    }

    .nav-links {
        text-align: center;
    }
        
    .nav-links > * > *{
        font-size: 48px;
    }

    .merch-product img{
        width: 130px;
        height: 130px;
    }

    .content-secondary{
        margin-left: 0;
        padding-top: 30px;
    }

    .content-secondary img{
        width: 150px;
        height: 150px;
    }

    .content-secondary-about img{
        width: 300px;
        height: 175px;
    }
    

}


/* För burger */

.nav-active {
    transform: translateY(100vh);
}

.nav-links {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    position: fixed;
    right: 0px;
    top: -100vh;
    justify-content: space-around;
    align-items: center;
    transition: all 0.375s;
    border-style: solid;
    background-color: rgba(43, 43, 39, 0.89);
}

.nav-links > * > *{
    color: rgba(189, 188, 178, 0.87);
    text-decoration: none;
    font-size: 48px;
    letter-spacing: 0.4px;
    font-weight: bold;
}

.nav-links a:hover {
    background-color: rgb(13, 29, 34);
    color: rgba(14, 155, 61, 0.849);
    text-decoration: none;   
}

.burger{
    margin-right: 50px;
}

.burger:hover{
    cursor: pointer;
}

.burger div {
    background-color: rgba(172, 168, 165, 0.712);
    height: 3px;
    width: 25px;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.75s;
}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* burger klar */

.div-splitter{
    display: grid;
    border-style: solid;
    margin: 2.5em 50px;
    width: 1241px;
    height: 106px;
    grid-template-columns: 212px 1fr 1fr 1fr;
    grid-template-rows: 106px;
    grid-template-areas: 
    "lv g1 g2 g3"
    ;
    
}

.livestatus{
    display: flex;
    font-size: 22px;
    width: 212px;
    height: 106px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-right-style: dashed;
    grid-area: lv;
}

.games{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-right-style: dashed;
}

#g1{
    grid-area: g1;
}

#g2{
    grid-area: g2;
}

#g3{
    border-right-style: none;
    grid-area: g3;
}

.content-hero{
    display: grid;
    padding: 25px 0;
    margin: 0 25px;
    width: 100%;
    height: 800px;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: 
    "lv gm"
    "mn mn"
    "st st"
    ;

}

.coach-comment{
    padding: 12px 25px;
    border-style: dotted;
}

.coach-comment:hover{
    background-color:rgba(14, 155, 61, 0.849);
    color:  rgb(13, 29, 34);
    cursor: pointer;
}



.bordered{
    border-style: solid;
    border-radius: 40px;
    font-size: 24px;
    font-weight: bold;
    padding: 50px 20px;
    margin-top: 80px;
}

