* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


ul {
    list-style: none;
}

li {
    list-style: none;
}

.gridwrapper-index {
    display: grid;
    height: 1560px;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 10vh 3fr 3fr 1fr;
    grid-template-areas: 
    "he nv nv"
    "se se a1"
    "se se a2"
    "fo fo fo"
    ;
}

.gridwrapper-merch {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 2fr;
    grid-template-areas: 
    "he nv nv"
    "at at at"
    "at at at"
    "fo fo fo"
    ;
}

.gridwrapper-history {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 2fr;
    grid-template-areas: 
    "he nv nv"
    "se se se"
    "se se se"
    "fo fo fo"
    ;
}

header {
    background: lightblue;
    grid-area: he;
}

nav {
    background-color: dodgerblue;
    grid-area: nv;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
}

section {
    background: salmon;
    grid-area: se;
}

.a1 {
    background: goldenrod;
    grid-area: a1;
}

.a2 {
    background: goldenrod;
    grid-area: a2;
}


article{ 
    background: deepskyblue;
    grid-area: at;
}

footer {
    background: #084a91;
    grid-area: fo;
    padding: 40px;
    display: flex;
    flex-flow: row wrap;
}

footer > *{
    flex: 1 100%;
}

.footer-left {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer-left > *{
    color: #999;
}

.footer-left p{
    padding: 10%;
    padding-left: 0;
}

.footer-left .fa{
    width: 84px;
    height: 84px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.4);
    padding: 8px;
}



.box a {
    color: #999;
}

footer li{
    line-height: 2em;
}

.socials a{
    display: inline-block;
    margin-right: 10px;
}





.footer-links a{
    color: #101001;
}

.footer-right li h2{
    font-weight: 525;
    padding-left: 0;
}

.footer-bottom{
    text-align: center;
    color: black;
    padding-bottom: 0;
}

footer ul{
    padding-left: 0;
}

.footer-right{
    flex: 1 0;
    flex: row wrap;
}

.footer-right > *{
    flex: 2 0px;
}

.footer-left{
    flex: 1 0px;
}




@media screen and (max-width: 768px) {


/* Fyll i mobilspecifik design här */

    .footer-right{
        flex: 1 0;
    }

    .footer-left{
        flex: 1 0px;
    }

    .footer-right > *{
        flex: 2 0px;
    }


}





/* För burger */

.nav-active {
    transform: translateY(100vh);
}

.nav-links {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 20%;
    position: absolute;
    right: 0px;
    top: -90vh;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s;
}

.nav-links a {
    color: rgb(78, 57, 37);
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.4px;
    font-weight: bold;
}

.burger{
    margin-right: 50px;
}

.burger:hover{
    cursor: pointer;
}

.burger div {
    background-color: rgb(78, 57, 37);
    height: 3px;
    width: 25px;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
}

.toggle .line-1 {
transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
transform: rotate(45deg) translate(-5px, -6px);
}